- content_for :view_buttons do
  %p
    = link_to "List", my_events_url, "data-role" => :button,
      "data-inline" => "true", "data-mini" => "true"
    = link_to "Calendar", my_events_calendar_url, "data-role" => :button,
      "data-inline" => "true", "data-mini" => "true"
%div{:style => "text-align:center"}
  %h2 My Events

  = render 'events_list', :events => @events, :empty_text => "No upcoming events."
