%div{:style => "text-align:center"}
  %h2 My Events
  %ul{"data-role" => :listview, "data-theme" => :g}
    - @events.each do |e|
      %li
        %a{ :href => event_details_url}
          %h3
            = e.name
          %p
            = e.location_name
