- content_for :settings_button do
  = render 'settings_button'

- content_for :events_button do
  =link_to "All Events", {:controller => :main, :action => :all_events},
    "data-role" => :button, "data-ajax" => :true, "data-theme" => :b, :class => "ui-btn-right"

- content_for :view_buttons do
  %div{"data-role"=>:navbar}
    %ul
      %li
        = link_to "List", my_events_url, "data-role" => :button,
          "data-inline" => "true", "data-mini" => "true", "data-ajax" => :false
      %li
        = link_to "Calendar", my_events_calendar_url, "data-role" => :button,
          "data-inline" => "true", "data-mini" => "true", "data-ajax" => :false
%div{:style => "text-align:center"}
  %h2 My Events

  = render 'events_list', :events => @events, :empty_text => "No upcoming events."
