@import url("boilerplate.css");

a, a:active, a:visited {
	color: #1b4c64;
}

h1 {
	color: #1b4c64;
	font-size: 24px;
	font-family: "museo-slab-1","museo-slab-2", 'Lucida Grande', Arial, sans-serif;
	font-weight: 300;
	text-transform: uppercase;
}

h1 a.button {
	color: #1b4c64;
	font-size: 10px;
	font-family: 'Lucida Grande', Arial, sans-serif;
	text-transform: uppercase;
	position: relative;
	top: -5px;
}

h2 {
	color: #1b4c64;
	font-size: 18px;
	font-family: "museo-slab-1","museo-slab-2", 'Lucida Grande', Arial, sans-serif;
	font-weight: 300;
	text-transform: uppercase;
}

h1 span,
h2 span {
	color: #66abc9;
}

h3 {
	
}

h4 {
	color: #9a9a9a;
	font-size: 11px;
	font-weight: normal;
	text-transform: uppercase;
}

p {
	padding: .75em 0px;
}

li p {
	padding: .25em 0px;
	color: #9a9a9a;
}

ul, ol {
	margin-left: 3em;
}

body {
	background: #fff;
	font: 12px 'Lucida Grande', Arial, sans-serif;
	color: #7f7f7f;
}

body .container {
	width: 950px;
	margin: 100px auto 0px;
}

/* @group Header
----------------------------------------------- */

header {
	margin-bottom: 20px;
	position: relative;
}

div#logo a.ir {
	background-image: url(../images/logo.png);
	width: 298px;
	height: 55px;
}

div#logo > p {
	padding: 0px;
	margin-top: -10px;
	margin-left: 70px;
}

div#calendar-nav {
	position: absolute;
	top: 10px;
	left: 440px;
}

div#calendar-nav h2 {
	color: #1b4c64;
	font-size: 24px;
	font-family: "museo-slab-1","museo-slab-2", 'Lucida Grande', Arial, sans-serif;
	font-weight: 300;
	text-transform: uppercase;
	margin: 0px;
	width: auto;
	text-align: center;
}

div#calendar-nav p a.current-month {
	color: #9a9a9a;
	display: inline-block;
	padding-left: 25px;
	line-height: 16px;
	background: url(../images/icon.current-month.png) no-repeat left center;
	text-decoration: none;
	margin-top: 25px;
}

header form {
	float: right;
	width: 210px;
	text-align: left;
	margin-top: 7px;
}

header form.search {
	text-align: center;
	width: 300px;
}

.ie6 header form.search,
.ie7 header form.search {
	width: 305px;
}

header form.search label {
	color: #9a9a9a;
	font-size: 11px;
	text-transform: uppercase;
	padding-right: 10px;
}

header form.search select {
	margin-top: -1px;
	padding: 1px 0px;
	width: 75px;
}

header form.search div {
	border: 1px solid #c0c0c0;
	padding: 3px;
	margin-bottom: 5px;
	text-align: right;
	
	background: #EDEDED; /* Old browsers */
	background: -moz-linear-gradient(top, #EDEDED 0%, #FFFFFF 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#EDEDED), color-stop(100%,#FFFFFF)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #EDEDED 0%,#FFFFFF 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #EDEDED 0%,#FFFFFF 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #EDEDED 0%,#FFFFFF 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#EDEDED', endColorstr='#FFFFFF',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #EDEDED 0%,#FFFFFF 100%); /* W3C */
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	
	-webkit-box-shadow: inset 0px -1px 1px rgba(0,0,0,.25);
	-moz-box-shadow: inset 0px -1px 1px rgba(0,0,0,.25);
	box-shadow: inset 0px -1px 1px rgba(0,0,0,.25);
}

header form.search input.text {
	border: none;
	background: transparent url(../images/icon.search.png) no-repeat left center;
	-webkit-appearance: none;
	padding-left: 20px;
	margin: 0px;
	font-size: 12px;
	color: #808080;
	width: 210px;
	outline: none;
	
	-webkit-transform: translateX(-30px);
}

header form.search input.submit {
	color: #ffffff;
	border: 1px solid #2b3034;
	font-size: 12px;
	line-height: 21px;
	padding: 0px 10px;
	text-transform: uppercase;
	margin-top: -1px;
	
	-webkit-box-shadow: 0px 2px 0px rgba(0,0,0,.22), inset 0px 1px 0px rgba(255,255,255,.35);
	-moz-box-shadow: 0px 2px 0px rgba(0,0,0,.22), inset 0px 1px 0px rgba(255,255,255,.35);
	box-shadow: 0px 2px 0px rgba(0,0,0,.22), inset 0px 1px 0px rgba(255,255,255,.35);
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	
	background: #525A66; /* Old browsers */
	background: -moz-linear-gradient(top, #525A66 0%, #7E8491 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#525A66), color-stop(100%,#7E8491)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #525A66 0%,#7E8491 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #525A66 0%,#7E8491 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #525A66 0%,#7E8491 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#525A66', endColorstr='#7E8491',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #525A66 0%,#7E8491 100%); /* W3C */
}

header p.welcome {
	position: absolute;
	top: 20px;
	left: 325px;
	padding: 0px;
}

/* @end */

/* @group Home
----------------------------------------------- */

form#calendar-head {
	text-align: center;
}

form#calendar-head * {
	display: inline;
}

form#calendar-head input.text {
	border: 1px solid #c0c0c0;
	padding: 7px;
	margin: 0px;
	font-size: 13px;
	width: 150px;
	
	background: #EDEDED url(../images/btn.select-date.png) no-repeat 97% 3px; /* Old browsers */
	background: url(../images/btn.select-date.png) no-repeat 97% 3px, -moz-linear-gradient(top, #EDEDED 0%, #FFFFFF 100%); /* FF3.6+ */
	background: url(../images/btn.select-date.png) no-repeat 97% 3px, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#EDEDED), color-stop(100%,#FFFFFF)); /* Chrome,Safari4+ */
	background: url(../images/btn.select-date.png) no-repeat right 3px, -webkit-linear-gradient(top, #EDEDED 0%,#FFFFFF 100%); /* Chrome10+,Safari5.1+ */
	background: url(../images/btn.select-date.png) no-repeat 97% 3px, -o-linear-gradient(top, #EDEDED 0%,#FFFFFF 100%); /* Opera11.10+ */
	background: url(../images/btn.select-date.png) no-repeat 97% 3px, -ms-linear-gradient(top, #EDEDED 0%,#FFFFFF 100%); /* IE10+ */
	//filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#EDEDED', endColorstr='#FFFFFF',GradientType=0 ); /* IE6-9 */
	background: url(../images/btn.select-date.png) no-repeat 97% 3px, linear-gradient(top, #EDEDED 0%,#FFFFFF 100%); /* W3C */
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	
	-webkit-box-shadow: inset 0px -1px 1px rgba(0,0,0,.25);
	-moz-box-shadow: inset 0px -1px 1px rgba(0,0,0,.25);
	box-shadow: inset 0px -1px 1px rgba(0,0,0,.25);
}

form#calendar-head h2 {
	color: #1b4c64;
	font-size: 11px;
	text-transform: uppercase;
}

form#calendar-head label {
	color: #9a9a9a;
	font-size: 11px;
	text-transform: uppercase;
	padding-right: 10px;
}

form#calendar-head div {
	padding-left: 20px;
	position: relative;
}

form#calendar-head input.submit {
	color: #ffffff;
	border: 1px solid #959799;
	font-size: 12px;
	line-height: 21px;
	padding: 0px 10px;
	margin: -2px 0px 0px 5px;
	text-transform: uppercase;
	
	-webkit-box-shadow: 0px 2px 0px rgba(0,0,0,.11), inset 0px 1px 0px rgba(255,255,255,.17);
	-moz-box-shadow: 0px 2px 0px rgba(0,0,0,.11), inset 0px 1px 0px rgba(255,255,255,.17);
	box-shadow: 0px 2px 0px rgba(0,0,0,.11), inset 0px 1px 0px rgba(255,255,255,.17);
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	
	background: #C0C3C9; /* Old browsers */
	background: -moz-linear-gradient(top, #C0C3C9 0%, #ABAFB5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#C0C3C9), color-stop(100%,#ABAFB5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #C0C3C9 0%,#ABAFB5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #C0C3C9 0%,#ABAFB5 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #C0C3C9 0%,#ABAFB5 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#C0C3C9', endColorstr='#ABAFB5',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #C0C3C9 0%,#ABAFB5 100%); /* W3C */
}

/* @end */

/* @group Table Head
----------------------------------------------- */

div#table-head {
	position: relative;
	margin-bottom: 14px;
}

div#table-head p.viewing {
	position: absolute;
	top: -25px;
	right: 0px;
	color: #cccccc;
	text-transform: uppercase;
	font-size: 11px;
}

div#table-head h3 {
	color: #a8a8a8;
	border-bottom: 1px solid #d9d9d9;
	padding-bottom: 5px;
	margin-bottom: 5px;
}

div#table-head input.submit {
	position: absolute;
	bottom: 13px;
	left: 13px;
}

div#table-head form {
	padding-bottom: 30px;
	padding-right: 160px;
}

div#table-head form div.column {
	float: right;
	padding-left: 0px;
	position: static;
	margin-top: 15px;
}

div#table-head form div {
	padding-left: 115px;
}

div#table-head form label {
	width: 100px;
}

/* @end */

#main {
	position: relative;
	padding-top: 15px;
}

#main h1.heading,
#main h2.heading {
	padding-top: 35px;
	padding-bottom: 5px;
	border-bottom: 1px solid #e5e5e5;
	margin-bottom: 13px;
}

#main h1 .push-button {
	float: right;
}

#main .leftCol {
	float: left;
	width: 600px;
}

#main .rightCol {
	float: left;
	width: 400px;
	margin-left: 50px;
}

#terms-of-service {
	display: none;
}

section {
	margin-top: 30px;
}

/*ul#event-description li {
	float: left;
	margin-bottom: 15px;
}

ul#event-description li.half {
	width: 50%;
}

ul#event-description li span {
	display: block;
	float: left;
}

ul#event-description li span.label {
	color: #9a9a9a;
	font-size: 11px;
	text-align: right;
	text-transform: uppercase;
	width: 60px;
	margin-right: 10px;
}

ul#event-description li span.content {
	width: 530px;
}

ul#event-description li.half span.content {
	width: 230px;
}

ul#event-description li p {
	padding-top: 0px;
}*/

div#flash {
	width: 1050px;
}

/* @group Signup
----------------------------------------------- */

div#signup > form {
	float: left;
	width: 474px;
	margin-right: 25px;
	
	padding: 0px;
}

div#signup h1 {
	padding-top: 10px;
	font-size: 31px;
}

div#signup h1,
div#signup p {
	width: 475px;
}

div#signup form h2.heading {
	padding-top: 15px;
	margin: 0px 13px 13px;
}

div#signup h2.heading {
	padding-top: 29px;
}

div#signup div#content {
	float: left;
	width: 423px;
}

div#signup div#content p {
	line-height: 1.6em;
}

div#signup div#content input.submit {
	margin-top: 20px;
}

div#signup section:first-child {
	margin-top: 0px;
}

ul#attached-photos li {
	float: left;
	padding: 0px 4px 4px 0px;
}

ul#attached-photos img {
	display: block;
}

/* @end */

/* @group Contact
----------------------------------------------- */

div.page {
	padding-top: 20px;
}

div#contact > form,
div#about > div#process {
	float: right;
	width: 474px;
	margin-left: 25px;
	
	padding: 0px;
}

div#contact div#content,
div#about div#content {
	float: right;
	width: 423px;
}

div#contact h1,
div#about h1 {
	padding-top: 10px;
	font-size: 31px;
}

div#contact h2.heading {
	padding-top: 29px;
}

div#contact form h2.heading {
	padding-top: 15px;
	margin: 0px 13px 13px;
}


/* @end */

/* @group Venue Dashboard
----------------------------------------------- */

div#venue-dashboard {
	margin-bottom: 14px;
	min-height: 153px;
	height: auto !important;
	height: 153px;
}

div#venue-dashboard p {
	color: #808080;
	font-size: 18px;
}

div#venue-dashboard p.title span {
	display: block;
}

div#venue-dashboard span.label {
	color: #9a9a9a;
	font-size: 11px;
	text-transform: uppercase;
}

div#venue-dashboard span.title {
	font-size: 24px;
	margin: 15px 0px 10px;
}

div#venue-dashboard p.analytics span {
	position: relative;
	top: -3px;
	padding-right: 30px;
}

div#venue-sidebar {
	float: right;
	margin-left: 13px;
	border: 1px solid #bfbfbf;
	background: #f2f2f2;
}

div#venue-sidebar.alt {
	border: none;
	border-left: 1px solid #bfbfbf;
}

div#venue-sidebar p {
	padding: 13px;
	border-top: 1px solid #bfbfbf;
}

div#venue-sidebar p:first-child {
	border-top: none;
}

div#venue-sidebar p span.title {
	font-size: 24px;
	display: block;
	margin-top: 20px;
}

/* @end */

/* @group Signin
----------------------------------------------- */

div#signin form {
	padding: 20px 0px 10px 30px;
}

div#signin form div,
div#forgotpass form div {
	float: left;
	width: 302px;
}

div#signin input.submit,
div#forgotpass input.submit {
	float: right;
	margin-top: -2px;
}

div#forgotpass form div {
	float: none;
}

div#forgotpass form {
	width: 513px;
	margin: 0px auto;
	padding: 20px 0px 10px;
}


/* @end */

/* @group Footer
----------------------------------------------- */

footer {
	margin-top: 17px;
	border-top: 1px solid #e5e5e5;
	padding-top: 15px;
	padding-bottom: 50px;
	position: relative;
}

footer p.alignright {
	text-align: right;
}

footer p.alignright .rss {
	font-size: 12px;
	line-height: 16px;
	color: #9a9a9a;
	text-decoration: none;
	text-transform: none;
	background: url(../images/icon.rss.png) no-repeat right center;
	padding-right: 22px;
	display: block;
	margin-top: 4px;
}

footer .ir {
	width: 146px;
	height: 28px;
	background-image: url(../images/logo.small.png);
	float: left;
	padding-right: 10px;
}

footer p {
	padding: 0px;
	margin-top: 7px;
}

footer ul {
	padding-top: 5px;
}

footer ul li {
	float: left;
	border-left: 1px solid #9a9a9a;
	padding: 0px 5px;
}

footer ul li:first-child {
	border-left: none;
	padding-left: 0px;
	margin-left: 0px;
}

footer ul.list.clearfix.alignright li a.button-alt.small {
	position: absolute;
	right: 0;
	top: 26px;
}

/* @end */

/* @group Table Styled
----------------------------------------------- */

table.styled {
	width: 100%;
}

table.w-sidebar {
	width: 890px;
}

table.styled thead {
	border: 1px solid #e5e5e5;
	border-width: 1px 1px 0px;
}

table.styled tbody {
	border: 1px solid #e5e5e5;
	border-width: 0px 1px 1px;
}

table.styled tbody tr:nth-of-type(even) td,
table.styled tr.even td {
	background: #eff6f9;
	border-left: 1px solid #d7dde0;
}

table.styled tr.even td {
	background: #eff6f9;
	border-left: 1px solid #d7dde0;
}

table.styled th,
table.styled td {
	padding: 11px;
	font-size: 13px;
	border-left: 1px solid #e5e5e5;
}

table.styled thead tr {
}

table.styled thead th {

	background: #b2d5e4;
	color: #355461;
	border-left: 1px solid #a0bfcd;
}

table.styled th:first-child,
table.styled td:first-child {
	text-align: left;
	border-left: none !important;
}

table.styled tbody td {
	text-align: center;
	color: #5a5a5a;
}

table.styled tfoot #pagination {
	text-align: center;
}

table.styled tfoot #pagination li {
	display: inline;
	padding: 0px 7px;
}

table.styled tfoot #pagination a {
	color: #9a9a9a;
	text-decoration: none;
	line-height: 25px;
	text-transform: uppercase;
}

table.styled tfoot #pagination li.active a {
	color: #1b4c64;
	font-weight: bold;
}

table.styled tbody tr.clickable:hover td {
	cursor: pointer;
	background: #dbeef6;
}


/* @end */

/* @group Form Styled
----------------------------------------------- */

form.styled div {
	padding-left: 136px;
	position: relative;
	margin-bottom: 10px;
}

.ie7 form.styled div:first-child {
	position: absolute;
	left: -9999em;
}

form.styled label {
	color: #9a9a9a;
	font-size: 11px;
	font-weight: normal;
	text-transform: uppercase;
	text-align: right;
	
	position: absolute;
	top: 7px;
	left: 0px;
	width: 121px;
}

form.styled label a {
	color: #9A9A9A;
}

form.styled input.text,
form.styled textarea,
.chzn-container-multi .chzn-choices {
	border: 1px solid #c0c0c0;
	color: #999;
	padding: 7px;
	margin: 0px;
	font-size: 13px;
	width: 286px;
	
	background: #EDEDED; /* Old browsers */
	background: -moz-linear-gradient(top, #EDEDED 0%, #FFFFFF 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#EDEDED), color-stop(100%,#FFFFFF)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #EDEDED 0%,#FFFFFF 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #EDEDED 0%,#FFFFFF 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #EDEDED 0%,#FFFFFF 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#EDEDED', endColorstr='#FFFFFF',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #EDEDED 0%,#FFFFFF 100%); /* W3C */
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	
	-webkit-box-shadow: inset 0px -1px 1px rgba(0,0,0,.25);
	-moz-box-shadow: inset 0px -1px 1px rgba(0,0,0,.25);
	box-shadow: inset 0px -1px 1px rgba(0,0,0,.25);
	
	-webkit-transition: box-shadow 0.3s, border-color 0.2s, color 0.2s;
	-moz-transition: box-shadow 0.3s, border-color 0.2s, color 0.2s;
	transition: box-shadow 0.3s, border-color 0.2s, color 0.2s;
}
form.styled input.text:focus,
form.styled textarea:focus,
form.styled .chzn-container-active .chzn-choices {
	color: #444;
	border-color: #66abc9;
	outline: none;
	
	-webkit-box-shadow: inset 0px -1px 1px rgba(0,0,0,.25), 0 0 6px #66abc9;
	-moz-box-shadow: inset 0px -1px 1px rgba(0,0,0,.25), 0 0 6px #66abc9;
	box-shadow: inset 0px -1px 1px rgba(0,0,0,.25), 0 0 6px rgba(102,201,171,0.4);
	
	-webkit-transition: box-shadow 0.3s, border-color 0.2s, color 0.2s;
	-moz-transition: box-shadow 0.3s, border-color 0.2s, color 0.2s;
	transition: box-shadow 0.3s, border-color 0.2s, color 0.2s;
}

form.styled input.submit {
	color: #ffffff;
	border: 1px solid #2b3034;
	font-size: 12px;
	line-height: 21px;
	padding: 0px 10px;
	text-transform: uppercase;
	
	-webkit-box-shadow: 0px 2px 0px rgba(0,0,0,.22), inset 0px 1px 0px rgba(255,255,255,.35);
	-moz-box-shadow: 0px 2px 0px rgba(0,0,0,.22), inset 0px 1px 0px rgba(255,255,255,.35);
	box-shadow: 0px 2px 0px rgba(0,0,0,.22), inset 0px 1px 0px rgba(255,255,255,.35);
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	
	background: #525A66; /* Old browsers */
	background: -moz-linear-gradient(top, #525A66 0%, #7E8491 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#525A66), color-stop(100%,#7E8491)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #525A66 0%,#7E8491 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #525A66 0%,#7E8491 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #525A66 0%,#7E8491 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#525A66', endColorstr='#7E8491',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #525A66 0%,#7E8491 100%); /* W3C */
}

form.styled select {
	width: 304px;
	line-height: 32px;
	height: 32px;
	-webkit-appearance: none;
}

form.styled input.half {
	width: 132px;
}

form.styled select.half {
	width: 148px;
	margin-right: 5px;
}

form.styled select.short.half {
	width: 154px;
	margin-right: 10px;
}

form.styled input.small {
	width: 72px;
}

form.styled select.small {
	width: 73px;
}

form.styled div.no-label label {
	position: static;
	text-transform: none;
}

form.styled div.no-pad {
	padding-left: 0px;
}

form.styled input.file {
	margin-bottom: 5px;
}

form.styled p {
	padding: 0px;
}

form.styled fieldset {
	margin: 0px 0px 1.4em;
	background: #e6e6e6;
	border: 1px solid #dbdbdb;
	border-width: 1px 0px;
	padding: 1.4em 0px .5em;
}

form.styled input.radio {
	margin-right: 10px;
}

form.styled div.extra-pad {
	margin-bottom: 30px;
}

form.styled span.select {
	background: url(../images/select.full.png) no-repeat;
	line-height: 32px;
	text-align: center;
	font-size: 10px;
	color: #9a9a9a;
	width: 302px;
	height: 32px;
	
	overflow: hidden;
	white-space: nowrap;
}

form.styled span.select span {
	padding-right: 20px;
}

form.styled span.select.half {
	background: url(../images/select.half.png) no-repeat;
	margin-right: 10px;
	width: auto;
}

.ie form.styled span.select.half {
	width: 148px;
}

form.styled span.select.small {
	background: url(../images/select.small.png) no-repeat;
	width: 73px;
	margin-right: 10px;
}

form.styled span.short {
	line-height: 22px;
	height: 22px;
}

form.styled span.select.short.half {
	background: url(../images/select.short.half.png) no-repeat;
	width: 152px;
}

form.styled span.select.short.small {
	background: url(../images/select.short.small.png) no-repeat;
	width: 72px;
	margin-right: 0px;
}

.ie form.styled span.pad {
	position: relative;
	top: -7px;
}

form.styled span.buffer {
	padding-right: 10px;
}

form.styled div#error_explanation {
	padding: 0px;
	padding: 0.8em;
	margin: 0px 10px 10px;
	border: 2px solid #fbc2c4;	
	background: #fbe3e4;
	color: #8a1f11;
	
	font-size: 11px;
	text-transform: uppercase;
}

form.styled div#error_explanation h2 {
	color: #8a1f11;
	font-size: 11px;
	text-transform: uppercase;
}

form.styled div#error_explanation a {
	color: #8a1f11;
}

form.styled div#error_explanation .errors,
form.styled div#error_explanation ul {
	text-transform: none;
	margin-top: 5px;
}

form.styled div.field_with_errors {
	position: static;
	display: inline;
	padding: 0;
	margin: 0;
}

form.styled div.dates span.select-wrap {
	position: relative;
	display: inline-block;
	height: 32px;
	
	margin-bottom: 10px;
}

form.styled div.dates span.select-wrap select {
	margin: 0;
}

form.styled div.dates select {
	top: 0;
	left: 0;
}

form.styled div.dates select,
form.styled div.dates .select {
	display: inline-block;
	margin-bottom: 0;
}

form.styled div.dates #event_start_at_5i,
form.styled div.dates #event_start_at_5i + .select,
form.styled div.dates #event_end_at_5i,
form.styled div.dates #event_end_at_5i + .select {
	margin-left: 10px;
}

form.styled select#event_start_at_2i,
form.styled select#event_end_at_2i{
	width: 135px;
}

form.styled select#event_start_at_2i + .select,
form.styled select#event_end_at_2i + .select{
	background: url(../images/select.month.png) no-repeat;
}

.ie form.styled div.dates span.select {
	display: block;
	vertical-align: middle;
}

/* @end */

/* @group Classes
----------------------------------------------- */

.grey-box {
	border: 1px solid #e5e5e5;
	background: #f2f2f2;
	padding: 13px;
}

a.button {
	color: #1b4c64;
	font-size: 11px;
	text-transform: uppercase;
}

a.button-alt {
	color: #1b4c64;
	font-size: 11px;
	text-transform: uppercase;
	text-decoration: none;
}

a.push-button {
	background: #e5e5e5;
	color: #b2b2b2;
	display: inline-block;
	font-size: 12px;
	font-family: 'Lucida Grande', Arial, sans-serif;;
	text-decoration: none;
	text-transform: uppercase;
	padding: 5px 14px;
	
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	
	-webkit-box-shadow: 0px 2px 0px rgba(0,0,0,.3);
	-moz-box-shadow: 0px 2px 0px rgba(0,0,0,.3);
	box-shadow: 0px 2px 0px rgba(0,0,0,.3);
	
	-webkit-transition: background-color .1s linear;
	-moz-transition: background-color .1s linear;
	transition: background-color .1s linear;
}

.heading .push-button {
	margin-left: 10px;
}

a.push-button:hover {
	background: #ececec;
}


a.edit {
	background-image: url(../images/icon.pen.png);
	width: 16px;
	height: 16px;
	
	display: inline-block;
	margin: 0px 10px;
}

a.delete {
	background-image: url(../images/icon.trash.png);
	width: 16px;
	height: 16px;
	
	display: inline-block;
	margin: 0px 10px;
}

a.radio {
	display: block;
	color: #5a5a5a;
	background: url(../images/icon.radio2.png) no-repeat left -16px;
	line-height: 16px;
	padding-left: 30px;
	text-decoration: none;
	margin-top: 16px;
}

a.radio.active {
	background-position: -16px 0;
}

a.add {
	background: url(../images/icon.plus.png) no-repeat left center;
	padding-left: 15px;
}

img.alignright {
	margin: 0 0 2px 10px;
	display: inline;
	border: 3px solid #376092;
}

img.alignleft {
	margin: 0 10px 2px 0;
	display: inline;
	border: 3px solid #376092;
}

::-moz-selection{ background: #66abc9; color:#fff; text-shadow: none; }
::selection { background: #66abc9; color:#fff; text-shadow: none; }
a:link { -webkit-tap-highlight-color: #66abc9; }

/* @end */




/* @group Step-by-Step
----------------------------------------------- */
.steps {
	background: #fff url(../images/bg.logo.png) no-repeat center 170px;
}

.steps .container {
	margin: 0 auto;
	width: 600px;
}

.steps header {
	padding-top: 100px;
	position: relative;
}

a.tab {
	background: #e8edef;
	border: 1px solid #c6d2d8;
	border-top-width: 0;
	color: #819ca9;
	text-transform: uppercase;
	text-decoration: none;
	display: block;
	padding: 10px 14px;
	position: absolute;
	top: 0;
	right: 0;
}

.steps div#logo a.ir {
	margin: 0 auto;
}

.progress {
	background: #a09e9e url(../images/bg.bar.png) repeat-x top;
	border: 1px solid #747474;
	padding: 12px;
}
	.progress h2 {
		background: rgba(0,0,0,0.31);
		border-radius: 12px;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 12px;
		font-weight: bold;
		text-shadow: 1px 2px 0 rgba(27,76,100,0.5), -1px 0 0 rgba(27,76,100,0.5);
		box-shadow: inset 0 1px 4px rgba(0,0,0,0.55), 0 1px 0 rgba(255,255,255,0.26);
	}
		.progress h2 span {
			background: #66abc9 url(../images/bg.stripe.png);
			border: 1px solid rgba(0,0,0,0.76);
			border-radius: 12px;
			color: #fff;
			display: block;
			padding: 4px 20px 5px 0;
			text-align: right;
			box-shadow: inset -2px -2px 2px rgba(0,0,0,0.2);
		}
		.progress1 span {
			width: 160px;
		}
		.progress2 span {
			width: 360px;
		}

.steps .content {
	background: #fff url(../images/bg.step.png) repeat-x bottom;
	border: 1px solid #e5e5e5;
	border-top-width: 0;
	padding: 18px 12px 12px;
	box-shadow: 0 1px 10px rgba(0,0,0,0.1);
}

.steps h1 {
	text-transform: none;
	font-weight: 500;
}

.steps p {
	line-height: 1.85em;
}

.steps form {
	position: relative;
}

.steps form a  {
	color: #66abc9;
	text-transform: uppercase;
}

.steps form.styled div {
	padding: 0;
}

.steps form.styled span.select-wrap {
	display: block;
	width: 100%;
}
	.steps form.styled span.select-wrap select {
		width: 100%;
	}
	
.steps form.styled span.select {
	background: url(../images/select.dbl.png) no-repeat;
	line-height: 42px;
	text-align: left;
	font-size: 12px;
	color: #5a5a5a;
	width: 100%;
	height: 42px;
	padding-left: 10px;
}

.steps form.styled .text, .steps form.styled .select-inner {
	color: #5a5a5a;
	font-family: 'Lucida Grande', Arial, sans-serif;
	font-size: 24px;
}
	
.steps form.styled .text {
	width: 558px;
}
.steps form.styled .half {
	width: 206px;
}

.steps form .button {
	background: #818794 url(../images/bg.button.png) repeat-x bottom; /* Old browsers */
	background: -moz-linear-gradient(top, #818794 0%, #565f6b 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#818794), color-stop(100%,#565f6b)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #818794 0%,#565f6b 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #818794 0%,#565f6b 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #818794 0%,#565f6b 100%); /* IE10+ */
	background: linear-gradient(top, #818794 0%,#565f6b 100%); /* W3C */
	
	border: 1px solid #2b3034;
	border-radius: 4px;
	color: #fff;
	float: right;
	margin: 14px 0 4px 14px;
	font-family: 'Lucida Grande', Arial, sans-serif;
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	padding: 10px 0;
	width: 140px;
	box-shadow: 0 1px 0 rgba(0,0,0,0.1);
}
.steps form .button:hover {
	background: #818794 url(../images/bg.button.png) repeat-x bottom; /* Old browsers */
	background: -moz-linear-gradient(top, #9298a7 0%, #565f6b 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9298a7), color-stop(100%,#565f6b)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #9298a7 0%,#565f6b 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #9298a7 0%,#565f6b 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #9298a7 0%,#565f6b 100%); /* IE10+ */
	background: linear-gradient(top, #9298a7 0%,#565f6b 100%); /* W3C */
}
.steps form .button:active {
	position: relative;
	top: 2px;
}

.steps form .skip {
	width: 240px;
	position: absolute;
	right: 0;
	top: 56px;
}
.steps form .skip a {
	float: left;
	margin-top: 14px;
}
.steps form .skip input {
	margin: 0;
}

.steps form a.expander {
	background: url(../images/arrow.open.png) no-repeat 0 2px;
	color: #9a9a9a;
	display: inline-block;
	margin: 26px 0;
	padding-left: 20px;
	text-decoration: none;
}
.steps form a.opened {
	background-position: 0 -89px;
}

form.styled #email-settings span {
	display: block;
	float: left;
	padding-top: 5px;
	width: 100px;
}

form.styled #email-settings label {
	position: relative;
	display: inline-block;
	height: 16px;
	line-height: 16px;
	width: auto;
	margin-right: 20px;
}

form.styled #email-settings label.radio {
	background: url(../images/icon.radio2.png) no-repeat left -16px;
}

form.styled #email-settings label.active {
	background-position: -16px top;
}

form.styled #email-settings label input {
	margin-right: 5px;
}

.steps form.styled .choices {
	float: left;
	width: 470px;
}
form.styled .choices label {
	text-transform: none;
	margin-bottom: 15px;
}
.choices .col {
	float: left;
	width: 32%;
	padding-right: 1%;
}

.steps form.styled #email-settings span.select-wrap {
	display: block;
	width: 100%;
}
	.steps form.styled #email-settings span.select-wrap select {
		width: 100%;
	}
	
.steps form.styled #email-settings span.select {
	background: none;
	padding: 0;
	height: auto;
}

.pickers {
	text-align: center;
}

form.styled .pickers .datepicker {
	background: #EDEDED url(../images/icon.cal.png) no-repeat right center; /* Old browsers */
	background: url(../images/icon.cal.png) no-repeat right center, -moz-linear-gradient(top, #EDEDED 0%, #FFFFFF 100%); /* FF3.6+ */
	background: url(../images/icon.cal.png) no-repeat right center, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#EDEDED), color-stop(100%,#FFFFFF)); /* Chrome,Safari4+ */
	background: url(../images/icon.cal.png) no-repeat right center, -webkit-linear-gradient(top, #EDEDED 0%,#FFFFFF 100%); /* Chrome10+,Safari5.1+ */
	background: url(../images/icon.cal.png) no-repeat right center, -o-linear-gradient(top, #EDEDED 0%,#FFFFFF 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #EDEDED 0%,#FFFFFF 100%); /* IE10+ */
	background: url(../images/icon.cal.png) no-repeat right center, linear-gradient(top, #EDEDED 0%,#FFFFFF 100%); /* W3C */
}

#from {
	margin-right: 8px;
}

.to {
	border-top: 1px solid #dbdbdb;
	display: inline-block;
	text-transform: uppercase;
	text-align: center;
	position: relative;
	margin: 0 8px 0 0;
	top: 10px;
	width: 104px;
}
	.to span {
		background: #fff;
		display: inline-block;
		position: relative;
		top: -8px;
		padding: 0 10px;
	}

.steps footer {
	border: 0;
	padding-top: 24spx 0 0 0;
	margin: 0;
}

.steps footer ul {
	margin-left: 157px;
}
/* @end */

/* @group Chosen plugin styles
----------------------------------------------- */
.chzn-container-multi .chzn-choices {
	font-family: 'Lucida Grande', Arial, sans-serif;
	font-size: 24px;
	padding: 0;
	width: 472px;
	position: relative;
	top: -10px;
	margin-bottom: -10px;
}
.chzn-container .chzn-choices .search-choice {
	font-size: 12px;
	padding: 5px 0 9px 10px;
}
.chzn-container .chzn-choices .search-choice .search-choice-close {
	 right: 6px;
	 top: 10px;
}
/* @end */



/* @group Event Details
----------------------------------------------- */
div.event {
	width: 1050px;
}

.event #main {
	padding-top: 0;
}

#main #event .leftCol, #main #event .rightCol {
	background: #fff; /* Old browsers */
	background: -moz-linear-gradient(top, #fff 0%, #f0f0f0 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff), color-stop(100%,#f0f0f0)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #fff 0%,#f0f0f0 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #fff 0%,#f0f0f0 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #fff 0%,#f0f0f0 100%); /* IE10+ */
	background: linear-gradient(top, #fff 0%,#f0f0f0 100%); /* W3C */
	
	border: 1px solid #e5e5e5;
	box-shadow: 0 1px 10px rgba(0,0,0,0.1);
}

#main #event .leftCol {
	border-top-width: 0;
	width: 728px;
}

#main #event .rightCol {
	width: 258px;
	margin-left: 20px;
	padding: 0 20px 20px 20px;
}

#event h3 {
	color: #9a9a9a;
}

div.venue {
	background: #a09e9e url(../images/bg.bar.png) repeat-x top;
	border: 1px solid #747474;
	color: #fff;
	font-size: 18px;
	font-family: "museo-slab-1","museo-slab-2", 'Lucida Grande', Arial, sans-serif;
	font-weight: 300;
	text-transform: uppercase;
	padding: 14px 20px;
	width: 688px;
}

#event-details {
	border-bottom: 1px solid #e5e5e5;
	width: 500px;
	float: left;
}
	#event-details h1 {
		border-bottom: 1px solid #e5e5e5;
		font-size: 30px;
		font-weight: 500;
		line-height: 40px;
		padding: 15px 20px 10px 20px;
		/*min-height: 80px;*/
	}
	#event-details .details {
		font-weight: bold;
		padding: 20px 20px 20px 0;
	}
	#event-details .details span {
		color: #9a9a9a;
		display: inline-block;
		font-family: Georgia, 'Times New Roman', serif;
		font-weight: normal;
		font-style: italic;
		text-align: right;
		padding-right: 5px;
		width: 65px;
	}

#event .poll {
	background: #ebf2f5;
	border: 1px solid #c1cdd3;
	border-width: 0 0 1px 1px;
	color: #1b4c64;
	float: right;
	padding: 20px;
	width: 187px;
}
	#event .poll h3, #event .poll p {
		color: #1b4c64;
		font-size: 14px;
		font-weight: bold;
		line-height: 24px;
		padding-top: 0;
		padding-bottom: 4px;
	}
	#event .poll p {
		font-size: 12px;
		line-height: 16px;
		color: #5a5a5a;
	}
	#event .poll ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}

#event-description {
	clear: both;
	line-height: 20px;
	padding: 20px 230px 20px 20px;
	position: relative;
}
	#share {
		float: right;
		width: 230px;
		text-align: center;
		position: absolute;
		top: 20px;
		right: 0;
	}
		#share h3 {
			display: inline;
			position: relative;
			top: -7px;
			margin-right: 5px;
		}

.map img {
	border: 1px solid #fff;
	width: 296px;
	height: 230px;
	margin-left: -20px;
	margin-bottom: 20px;
	box-shadow: 1px 1px 0 #bbb, -1px -1px 0 #bbb;
}

.map .venue-info {
	clear: both;
}

.map h3 {
	float: left;
	width: 100px;
}

.map p {
	line-height: 20px;
	overflow: hidden;
	padding-top: 0;
}
/* @end */


/* @group City Selector
----------------------------------------------- */
a#change-city {
	background: url(../images/arrow.drop.png) no-repeat right;
	text-decoration: none;
	padding-right: 20px;
}

.steps a#change-city {
	margin-left: 150px;
}

#cities {
	background: #fff; /* Old browsers */
	background: -moz-linear-gradient(top, #fff 0%, #f0f0f0 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff), color-stop(100%,#f0f0f0)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #fff 0%,#f0f0f0 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #fff 0%,#f0f0f0 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #fff 0%,#f0f0f0 100%); /* IE10+ */
	background: linear-gradient(top, #fff 0%,#f0f0f0 100%); /* W3C */
	
	border: 1px solid #e5e5e5;
	box-shadow: 0 1px 10px rgba(0,0,0,0.1);
	padding: 20px;
	margin-top: 20px;
}
	#cities p {
		padding: 0 0 10px 0;
	}
	
#cities ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#cities ul li {
	float: left;
	width: 16%;
}

#cities li li {
	width: 90%;
}

#cities li:nth-child(7n), .row {
	clear: left;
}

#cities h3 {
	padding: 6px 0 4px 0;
}

/* @end */






