%h1
 About
 %span Senkd


<h4>Connecting People & Business with Business & People</h4>

%h2
Senkd is a new platform that connects business professionals with the business activities that they want to see. Our goal is to provide a comprehensive source of industry related events, provide the tools to manage your events and create the technology that easily allows professionals to stay up to date with the activities that interest them the most.
<br>
<br>
We know the hassle of checking multiple calendars to stay connected to all business related functions. Connect with Senkd to follow the businesses that interest you most and stay up to date with the events and functions that they sponsor and recommend. Senkd will keep you informed with our weekly emails, keeping you up to date with the events you care about! 

<br>
<br>
As a professional business, Senkd will help you easily manage your events and get those events in front of the professionals that are interested in them.  
<br>
<br>

We just launched our beta application and are continuing to make improvements. We love feedback, so please let us know how we can make it better!
<br>
<br>



