%h1
  What’s
  %span SociaLatitude?
%p.emphasized{ :style => 'word-spacing: -5px' }
  %span [
  Soh -
  %span shuhl
  \- lat -
  %span i
  \- tood
  %span ]

%p SociaLatitude is an events calendar that brings all local events to one online source. With an easy to use calendar and filters, users can quickly search for social events that are going on in their community and then make plans to attend them. With SociaLatitude, you will never need to search multiple online websites, magazines or newspapers again for local events. We are a one stop place for everything happening in your community. Once you find the event you’re looking for, find out detailed information on the event, directions and even connect directly with the venue hosting the event!
