%h1
  %span Thank you
  for visiting Senkd!

%p.emphasized
  %span We are constantly updating the site as we grow and would love to hear any feedback you have for Senkd. Please let us know if there’s anything we can do to make the site better!

%p
  For general comments or questions about the site, please send us an email to
  = mail_to('info@senkd.com')
