%h2 My Groups
%ul#events
  - @venues.each do |venue|
    %li{"data-role" => :collapsible, "data-theme" => "c"}
      %h5.ui-li-header
        = venue.name
      %p.ui-li-desc
        %form
          %input#company_only{:type => :checkbox, "data-theme" => :d, "data-mini" => :true}
          %label{:for => :company_only}  Group Only Events
        %form
          %input#endorsed{:type => :checkbox, "data-theme" => :d, "data-mini" => :true}
          %label{:for => :endorsed} Group Endorsed Events

%p
  = link_to 'Edit groups', { :controller => :settings, :action => :follow },
    "data-role" => "button", "data-mini" => true, "data-inline" => "true"
