%h1.pad_top Privacy Policy

%p This privacy policy applies to the website (www.socialatitude.com) and all products and services offered by SociaLatitude, LLC. SociaLatitude is committed to the privacy of our visitors and users of our website. Please read the following to learn what information we collect and how we use that information. If you have any questions pertaining to our privacy policy, please email us. 

%h2 Collection and Usage of Personal Information
%p Personal information is data that can be used to uniquely identify or contact a single person. 

%p You can visit and use SociaLatitude without revealing any personal information. However, if you engage in certain activities on the website, including creating an account, submitting or posting content, filling out a survey, posting a review, sending us feedback or requesting information about our services we may ask you to provide information about yourself, but it is optional whether you provide us with this information. If you do agree, we may ask for more personal information including your first and last name and/or company name, type of business, complete mailing address (including zip code), telephone number, date of birth, sex, email address or passwords. If you order products or services, we may also ask you for you to provide us with your credit card number, expiration date and authentication codes or related information. Depending on the activity, some of the information we ask for is mandatory and some is voluntary. If you do not provide the mandatory information for a particular activity, you will not be permitted to engage in that activity. 

%p We will use personal information to provide products and services to you, administer sweepstakes and contests, enhance the operation of our website, improve marketing and promotional efforts, analyze website use, and improve our product and service offerings. From time to time, we may use personal information to send important notices, such as communications about purchases and changes to our terms, conditions and policies. We may also use your personal information to troubleshoot, resolve disputes, accomplish administrative tasks, contact you, enforce our agreements with you, including our website Terms of Use and this Privacy Policy, comply with applicable law and cooperate with law enforcement activities.

%h2 Collection and Usage of Non-Personal Information
%p Non-Personal Information is information that does not identify a specific individual. We may collect, use, transfer and disclose non-personal information for any purpose. SociaLatitude does not connect this Non-Personal Information to any personal information collected from you. The following are some examples of non-personal information that we collect and how we may use it:

%p We gather information such as the Uniform Resource Locator (URL) of the website that directed you to our Site, cookie information, internet protocol (IP) address, language, location and service provider and type of browser you are using. We use this non-personal information for things such as to troubleshoot, administer the website, analyze trends, gather demographic information, comply with applicable law and cooperate with law enforcement activities.

%h2 Information Sharing and Disclosure
%p We do not sell, trade, or otherwise transfer to outside parties your personally identifiable information. This does not include trusted third parties who assist us in operating our website, conducting our business, or servicing you, so long as those parties agree to keep this information confidential. We may also release your information when we believe release is appropriate to comply with the law, enforce our Site policies, or protect ours or others' rights, property, or safety. However, non-personally identifiable visitor information may be provided to other parties for marketing, advertising, or other uses. Additionally, in the event of a reorganization, merger or sale we may also transfer and and all personal information we collect to the relative third party. 

%h2 Third Party Sites
%p SociaLatitude contains links to other websites and occasionally may include or offer third party products or services on our website. These third party websites have separate and independent privacy policies. We therefore have no responsibility or liability for the content and activities of these linked sites. Customers and visitors are responsible for reviewing these third party privacy statements and understanding their policies. Nonetheless, we seek to protect the integrity of our Site and welcome any feedback about these Sites.

%h2 Security of Information
%p We take security seriously and take precautions to protect the security of personal information. You can access your information through our website with a password and your email address. This password is encrypted. In addition, your personally information resides on a secure server that only selected personnel have access to. We encrypt certain sensitive information (such as credit card information) using Secure Socket Layer (SSL) technology to ensure that your personally information is safe as it is transmitted to us. We recommend that you do not share your password with anyone. SociaLatitude is not responsible for any damages arising out of the loss or misuse of passwords.

%p Unfortunately, no data transmission over the internet or any wireless network can be guaranteed 100% secure. As a result, while we employ commercially reasonable security measures to protect data and seek to partner with companies who do the same, we cannot guarantee the security of any information transmitted to or from the website, and are not responsible for the actions of any third parties that may receive such information.

%h2 Accuracy of Data
%p While SociaLatitude uses reasonable efforts to include accurate and up to date information in our website, SociaLatitude makes no warranties or representations as to its accuracy. SociaLatitude assumes no liability or responsibility for any errors or omissions in the content of the website.

%h2 Changes to this Privacy Policy
%p SociaLatitude may at any time, without notice to you and in its sole discretion, change, modify add or remove portions of this privacy policy. When this policy is updated, the &ldquo;last update&rdquo; date at the top of this policy will be revised. Please review this policy periodically. The continued use of SociaLatitude after any such amendments signifies your acceptance thereof. 

%h2 Consent
%p Please read this privacy policy carefully. By accessing or using our website, you acknowledge that you have read, understand, and agree to be bound to all the terms of this privacy policy. If you do not agree to these terms, exit this page and do not access or use the website. If you have already provided personal information to SociaLatitude and no longer consent to its use or disclosure as outlined herein, please notify SociaLatitude at #{mail_to 'feedback@socialatitude.com'}.


%h2 Questions or Suggestions
%p If you have any questions or suggestions about this privacy policy, or your own personal information, please email us at #{mail_to 'feedback@socialatitude.com'}.
