#content.narrow
  %h1
    %span Thank you
    for visiting SociaLatitude!  

  %p.emphasized
    %span We are constantly updating the site as we grow and would love to hear any feedback you have for SociaLatitude. Please let us know if there’s anything we can do to make the site better! 

  %p
    For general comments or questions about the site, please send us an email to
    = mail_to('feedback@socialatitude.com')

  %p 
    For new venues looking to get started with SociaLatitude, click here to visit our #{link_to 'Venue Sign-Up page', new_venue_registration_url} where you can create your own free account and start posting events. Or, send us an email to
    = mail_to 'signup@socialatitude.com'
    with any questions you might have.

  %p
    For Venues who already have an account with SociaLatitude and have any questions/comments regarding your account, please email us at
    = mail_to 'support@socialatitude.com'



