- content_for :center_header do
  #calendar-nav
    %h2
      Terms of Service /
      %span Privacy Policy

    %p.small Latest Update May 17, 2011

#content.narrow
  = render 'pages/terms_of_service'
  = render 'pages/privacy_policy'

