- content_for :content do

  %div{"data-role"=>:navbar}
    %ul
      %li
        =link_to "My Events", {:controller => :main, :action => :my_events}, "data-role" => :button, "data-ajax" => :true
      %li
        =link_to "All Events", {:controller => :main, :action => :all_events}, "data-role" => :button, "data-ajax" => :true


  = yield :view_buttons

  = yield

= render :template => 'layouts/mobile'
