- content_for :content do

  %div{"data-role"=>:navbar}
    %ul
      %li
        =link_to "My Groups", {:controller => :settings, :action => :organizations}, "data-role" => :button
      %li
        =link_to "Email Settings", edit_email_notifications_url, "data-role" => :button
      %li
        =link_to "Account Info", {:controller => :settings, :action => :account}, "data-role" => :button

  %div
    = yield

  %div
    = link_to "Log Out", destroy_user_session_url, "data-ajax" => :false

= render :template => 'layouts/mobile'
