- content_for :content do
  %div{:style => "text-align:center"}
    %h2 Account Settings

  %div{"data-role"=>:navbar}
    %ul
      %li
        =link_to "Organizations to Follow", {:controller => :settings, :action => :follow}, "data-role" => :button
      %li
        =link_to "Email Settings", {:controller => :settings, :action => :email}, "data-role" => :button
      %li
        =link_to "Edit account Info", {:controller => :settings, :action => :account}, "data-role" => :button

  = yield

  = link_to "Back to Events", {:controller => :main, :action => :index}, "data-role" => :button

  = link_to "Log Out", destroy_user_session_url

= render :template => 'layouts/mobile'
